.nav-link {
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo mais clara */
    transform: scale(1.025); /* Aumenta um pouco o tamanho do link */
  }